body{
    background-color: bisque;
}
div{
    width: 100px;
    height: 50px;
    margin: 100px 50px;
    text-align: center;
    padding-top: 20px;
    color: aquamarine;
    font-size: 25px;
    background-color: cornflowerblue;

}
p{
    color: brown;
    height: 20px;
}